<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.7">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Year</name>
          <description>Year to backtest.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>2015</string>
              <string>2014</string>
              <string>2013</string>
              <string>2012</string>
              <string>2011</string>
              <string>2010</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Months</name>
          <description>Months to test.</description>
          <defaultValue>1-12</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Deposit</name>
          <description>Account deposit to backtest.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>2000</string>
              <string>10000</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Symbol</name>
          <description>Symbol to backtest.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>EURUSD</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Spread</name>
          <description>Spread to backtest.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>10</string>
              <string>20</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Digits</name>
          <description>Number of market digits.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>5</string>
              <string>4</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BT_Source</name>
          <description>Source of the tick data for backtesting.	</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>DS</string>
              <string>DS2</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Profile</name>
          <description>Select profile name to test.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>default</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BaseCurrency</name>
          <description>Base currency of the account.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>USD</string>
              <string>GBP</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.9.0">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.18">
    <script>node {
    stage(&apos;Testing&apos;) {
        print &quot;Parameters: Year:${Year}, Months:${Months}, Deposit:${Deposit}, Symbol:${Symbol}, Spread:${Spread}, Digits:${Digits}, BaseCurrency:${BaseCurrency}, BT_Source:${BT_Source}, Profile:${Profile}&quot;
        
        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Alligator-Alligator&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Alligator-Alligator1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Alligator-Alligator5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Alligator-Alligator15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Alligator-Alligator30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Bands-Bands&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Bands-Bands1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Bands-Bands5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Bands-Bands15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Bands-Bands30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;DeMarker-DeMarker&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;DeMarker-DeMarker1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;DeMarker-DeMarker5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;DeMarker-DeMarker15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;DeMarker-DeMarker30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Envelopes-Envelopes&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Envelopes-Envelopes1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Envelopes-Envelopes5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Envelopes-Envelopes15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Envelopes-Envelopes30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Fractals-Fractals&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Fractals-Fractals1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Fractals-Fractals5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Fractals-Fractals15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;Fractals-Fractals30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MA-MA&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MA-MA1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MA-MA5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MA-MA15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MA-MA30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MACD-MACD&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MACD-MACD1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MACD-MACD5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MACD-MACD15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;MACD-MACD30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;RSI-RSI&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;RSI-RSI1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;RSI-RSI5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;RSI-RSI15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;RSI-RSI30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;SAR-SAR&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;SAR-SAR1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;SAR-SAR5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;SAR-SAR15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;SAR-SAR30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false

        build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;WPR-WPR&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;WPR-WPR1&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M1&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;WPR-WPR5&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M5&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;WPR-WPR15&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M15&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
        // build job: &apos;Test Strategy&apos;, parameters: [string(name: &apos;Strategy&apos;, value: &apos;WPR-WPR30&apos;), string(name: &apos;TestPeriod&apos;, value: &apos;M30&apos;), string(name: &apos;Year&apos;, value: Year), string(name: &apos;Months&apos;, value: Months), string(name: &apos;Deposit&apos;, value: Deposit), string(name: &apos;Symbol&apos;, value: Symbol), string(name: &apos;Spread&apos;, value: Spread), string(name: &apos;Digits&apos;, value: Digits), string(name: &apos;BaseCurrency&apos;, value: BaseCurrency), string(name: &apos;BT_Source&apos;, value: BT_Source), string(name: &apos;Profile&apos;, value: Profile)], quietPeriod: 2, wait: false
    }
    stage(&apos;Done&apos;) {
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>